<section class="mx-auto max-w-4xl px-4 py-6">
  <div>
    <h2 class="text-2xl font-semibold">Cadastro de Plano</h2>
    <hr class="my-4 border-muted/30" />
    <mat-card class="p-4 rounded-2xl shadow-sm">
    <form [formGroup]="planoForm" (ngSubmit)="cadastrar()">
      <mat-card-header>
        <mat-card-title class="text-lg font-medium"> Preencha o formulário de cadastro </mat-card-title>
      </mat-card-header>
      <mat-card-content class="mt-6 space-y-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Grupo de Automovel do Plano</mat-label>
          <mat-select formControlName="grupoAutomovelId">
            @for (grupo of grupoAutomoveis$ | async; track $index)
            {
              <mat-option [value]="grupo.id">{{ grupo.nome }}</mat-option>
            }
          </mat-select>
          @if (grupoAutomovelId?.hasError('required'))
          {
            <mat-error>O Grupo de Automovel do Plano é obrigatório.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Preco Diario</mat-label>
          <input formControlName="precoDiario" matInput type="number" />
          @if (precoDiario?.errors?.['required'])
          {
            <mat-error>O preco diario do plano diario é obrigatório.</mat-error>
          }
          @if (precoDiario?.errors?.['min'])
          {
            <mat-error>O preco diario do plano não pode ser menor que 0.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Preco Diario Controlado</mat-label>
          <input formControlName="precoDiarioControlado" matInput type="number" />
          @if (precoDiarioControlado?.errors?.['required'])
          {
            <mat-error>O preco diario do plano controlado é obrigatório.</mat-error>
          }
          @if (precoDiarioControlado?.errors?.['min'])
          {
            <mat-error>O preco diario do plano controlado não pode ser menor que 0.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Preco Por KM</mat-label>
          <input formControlName="precoPorKm" matInput type="number" />
          @if (precoPorKm?.errors?.['required'])
          {
            <mat-error>O preco por KM do plano diario é obrigatório.</mat-error>
          }
          @if (precoPorKm?.errors?.['min'])
          {
            <mat-error>O preco por KM do plano diario não pode ser menor que 0.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>KM Livres</mat-label>
          <input formControlName="kmLivres" matInput type="number" />
          @if (kmLivres?.errors?.['required'])
          {
            <mat-error>KMs Livres do plano controlado é obrigatório.</mat-error>
          }
          @if (kmLivres?.errors?.['min'])
          {
            <mat-error>KMs Livres do plano controlado não pode ser menor que 0.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Preco por KM Extrapolado</mat-label>
          <input formControlName="precoPorKmExplorado" matInput type="number" />
          @if (precoPorKmExplorado?.errors?.['required'])
          {
            <mat-error>Preco por KMs extrapolado do plano controlado é obrigatório.</mat-error>
          }
          @if (precoPorKmExplorado?.errors?.['min'])
          {
            <mat-error>Preco por KMs extrapolado do plano controlado não pode ser menor que 0.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Preco Livre</mat-label>
          <input formControlName="precoLivre" matInput type="number" />
          @if (precoLivre?.errors?.['required'])
          {
            <mat-error>Preco do plano livre é obrigatório.</mat-error>
          }
          @if (precoLivre?.errors?.['min'])
          {
            <mat-error>Preco do plano livre não pode ser menor que 0.</mat-error>
          }
        </mat-form-field>
      </mat-card-content>

        <mat-card-actions align="end" class="flex items-center justify-end gap-3 pt-4">
          <a mat-stroked-button routerLink="/planos" class="px-4"> Voltar </a>
          <button type="submit" [disabled]="planoForm.invalid" mat-flat-button class="px-6">
            <mat-icon class="!text-base mr-1">check</mat-icon> Concluir
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</section>
