@if (aluguel$ | async) {
<section class="mx-auto max-w-4xl px-4 py-6">
  <div>
    <h2 class="text-2xl font-semibold">Finalização de Aluguel</h2>
    <hr class="my-4 border-muted/30" />

    <mat-card class="p-4 rounded-2xl shadow-sm">
      <form [formGroup]="aluguelForm" (ngSubmit)="finalizar()">
        <mat-card-header>
          <mat-card-title class="text-lg font-medium">
            Preencha o formulário de edição
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-6 space-y-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Quilometragem Final</mat-label>
            <input formControlName="kmFinal" matInput type="number" />
            @if (kmFinal?.errors?.['required'])
            {
              <mat-error>A Quilometragem do automóvel é obrigatório.</mat-error>
            }
            @if (kmFinal?.errors?.['min'])
            {
              <mat-error>A Quilometragem não pode ser menor que 0.</mat-error>
            }
            @if (kmFinal?.errors?.['max'])
            {
              <mat-error>A quilometragem não pode ser maior que 100000000.</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nivel de Combustivel Final</mat-label>
            <input formControlName="nivelCombustivelNaDevolucao" matInput type="number" />
            @if (nivelCombustivelNaDevolucao?.errors?.['required'])
            {
              <mat-error>O Nivel de Combustivel do automóvel é obrigatório.</mat-error>
            }
            @if (nivelCombustivelNaDevolucao?.errors?.['min'])
            {
              <mat-error>O Nivel de Combustivel não pode ser menor que 0.</mat-error>
            }
            @if (nivelCombustivelNaDevolucao?.errors?.['max'])
            {
              <mat-error>O Nivel de Combustivel não pode ser maior que 10000.</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Data de Devolucao</mat-label>
            <input formControlName="dataDevolucao" matInput type="datetime" />

            @if (dataDevolucao?.hasError('required')) {
              <mat-error>A data de Devolucao é obrigatório.</mat-error>
            }
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end" class="flex items-center justify-end gap-3 pt-4">
          <a mat-stroked-button routerLink="/alugueis" class="px-4"> Voltar </a>

          <button type="submit" [disabled]="aluguelForm.invalid" mat-flat-button class="px-6">
            <mat-icon class="!text-base mr-1">check</mat-icon>
            Concluir
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</section>
}
