<section class="mx-auto max-w-screen-xl px-4">
  <div class="py-6">
    <h2 class="text-2xl font-semibold">Listagem de Alugueis</h2>

    <!-- Ações -->
    <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-6 gap-2">
      <a
        mat-flat-button
        class="col-span-1 flex items-center justify-center gap-2 h-10"
        routerLink="cadastrar"
      >
        <mat-icon class="!text-base">add</mat-icon>
        Cadastrar
      </a>
    </div>

    <hr class="my-6 border-muted/30" />

    <!-- Cards de alugueis -->
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
      @for (aluguel of alugueis$ | async; track $index) {
        <mat-card class="p-3 rounded-2xl shadow-sm">

          <mat-card-content class="min-h-[40px] mt-3">
            <p><span class="font-medium">Condutor:</span> {{ aluguel.condutor.nome }}</p>
            <p><span class="font-medium">Automovel:</span> {{ aluguel.automovel.modelo }}</p>
            <p>
              <span class="font-medium">Data de Saida:</span>
              {{ aluguel.dataSaida | date:'dd/MM/yyyy' }}
            </p>
            <p><span class="font-medium">Valor Total:</span> {{ aluguel.valorTotal }}</p>
          </mat-card-content>

          <mat-card-actions align="end" class="flex items-center justify-end gap-2 pt-2">
            <a [routerLink]="['finalizar', aluguel.id]"
              mat-icon-button
              aria-label="Finalizar Aluguel"
              [hidden]="aluguel.status === false"
              title="Finalizar Aluguel">
              <mat-icon>check_circle</mat-icon>
            </a>

            <a [routerLink]="['editar', aluguel.id]"
              [hidden]="aluguel.status === false"
              mat-icon-button aria-label="Editar">
              <mat-icon>edit</mat-icon>
            </a>

            <a [routerLink]="['excluir', aluguel.id]"
              [hidden]="aluguel.status === true"
              mat-icon-button aria-label="Excluir">
              <mat-icon>delete</mat-icon>
            </a>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  </div>
</section>
