<mat-card>
  <mat-card-content>
    <div class="grid grid-cols-1 lg:grid-cols-12 items-center justify-center gap-3 p-3">
      <div class="lg:col-span-10">
        <h3 class="text-2xl font-medium">
          Organize sua Locadora com eficiência com o Locadora de Veiculos
        </h3>

        <p class="mt-4 text-base">
          A Locadora de Veículos foi desenvolvida para oferecer praticidade e eficiência no gerenciamento de
          locações. Cadastre veículos, acompanhe reservas, controle a disponibilidade da frota e acesse todas
          as informações de forma rápida e centralizada — tudo em um sistema seguro, intuitivo e acessível de
          qualquer lugar.
        </p>


        <ul class="text-sm list-disc ps-8 mt-4">
          <li class="text-base">🚗 Cadastre, atualize e consulte veículos da frota.</li>
          <li class="text-base">👤 Gerencie clientes, contratos e histórico de locações.</li>
          <li class="text-base">📅 Controle reservas, devoluções e disponibilidade dos veículos.</li>
          <li class="text-base">🔒 Armazene dados com segurança e organização.</li>
        </ul>

        <p class="mt-4 text-base">
          Comece agora e leve sua gestão de locações para outro nível, com mais agilidade e eficiência no
          atendimento.
        </p>
      </div>

      <div class="lg:col-span-2">
        <img class="max-w-full h-auto" src="/img/inicio.svg" alt="locadora." />
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-3 my-2">
  <mat-card class="classroom-card">
    <a
      routerLink="/grupo-automoveis"
      class="card-hero block"
      style="--hero-url: url('/img/card-header.webp')"
    >
      <mat-card-title class="card-hero__title">Grupo de Automovel</mat-card-title>
    </a>

    <mat-card-content></mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="flex justify-end">
      <a routerLink="/grupo-automoveis" mat-icon-button matTooltip="Ir para Grupo de Automoveis">
        <mat-icon>arrow_outward</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="classroom-card">
    <a
      routerLink="/automoveis"
      class="card-hero block"
      style="--hero-url: url('/img/card-header.webp')"
    >
      <mat-card-title class="card-hero__title">Automovel</mat-card-title>
    </a>

    <mat-card-content></mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="flex justify-end">
      <a routerLink="/automoveis" mat-icon-button matTooltip="Ir para Automoveis">
        <mat-icon>arrow_outward</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
