@if (config$ | async) {
<section class="mx-auto max-w-4xl px-4 py-6">
  <div>
    <h2 class="text-2xl font-semibold">Edição de Configuracao</h2>
    <hr class="my-4 border-muted/30" />

    <mat-card class="p-4 rounded-2xl shadow-sm">
      <form [formGroup]="configForm" (ngSubmit)="editar()">
        <mat-card-header>
          <mat-card-title class="text-lg font-medium">
            Preencha o formulário de edição
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-6 space-y-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Preco Gasolina</mat-label>
          <input formControlName="gasolina" matInput type="number" />
          @if (gasolina?.errors?.['required'])
          {
            <mat-error>O preco da Gasolina é obrigatório.</mat-error>
          }
          @if (gasolina?.errors?.['min'])
          {
            <mat-error>O preco da Gasolina não pode ser menor que 0.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Preco Gas</mat-label>
          <input formControlName="gas" matInput type="number" />
          @if (gas?.errors?.['required'])
          {
            <mat-error>O preco da Gas é obrigatório.</mat-error>
          }
          @if (gas?.errors?.['min'])
          {
            <mat-error>O preco da Gas não pode ser menor que 0.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Preco Diesel</mat-label>
          <input formControlName="diesel" matInput type="number" />
          @if (diesel?.errors?.['required'])
          {
            <mat-error>O preco da Diesel é obrigatório.</mat-error>
          }
          @if (diesel?.errors?.['min'])
          {
            <mat-error>O preco da Diesel não pode ser menor que 0.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Preco Alcool</mat-label>
          <input formControlName="alcool" matInput type="number" />
          @if (alcool?.errors?.['required'])
          {
            <mat-error>O preco da Alcool é obrigatório.</mat-error>
          }
          @if (alcool?.errors?.['min'])
          {
            <mat-error>O preco da Alcool não pode ser menor que 0.</mat-error>
          }
        </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="end" class="flex items-center justify-end gap-3 pt-4">
          <a mat-stroked-button routerLink="/inicio" class="px-4"> Voltar </a>

          <button type="submit" [disabled]="configForm.invalid" mat-flat-button class="px-6">
            <mat-icon class="!text-base mr-1">check</mat-icon>
            Concluir
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</section>
}

